{
    "openapi": "3.0.0",
    "info": {
        "title": "Craftboxx Plan it API",
        "description": "\n# Welcome!\n\nHere you see the documentation of plan it api.\n\n- If you are searching for more information to the Craftboxx itself, see [https://www.craftboxx.de](https://www.craftboxx.de).\n- If you want to log into the plan-it interface, visit [https://planit.craftboxx.de](https://planit.craftboxx.de).\n\n## General\n\n- In order to use the api, you need to generate a bearer-access token /plan-it/auth/create-token with your plan-it employee credentials.\n- You have to pass the access token with every api call in the header so that you are authenticated and authorized as a plan-it employee.\n- Your plan it permissions also take effect in the plan it api.\n- This api mostly implements the REST api logic.\n\n## Get / Index Requests\n\n- For every index request you can add a 'q' parameter, which does a generic search over all entities (Example: /articles?q=Bosch Akkuschrauber)\n- For every index request you can add a 'order_by' and a 'order_direction' parameter (Example: /articles?order_by=manufacturer&order_direction=desc)\n- For every index request you can also use a 'id' parameter, which only delivers you specific ids (Example: /articles?id=50 or /articles?id[]=50&id[]=51)\n- For every index request you can also use a 'exclude' parameter, which exclude specific ids (Examples: /articles?exclude=50 or /articles?exclude[]=50&exclude[]=51)\n- For every index request you can use the 'per_page' and 'page' parameter for pagination (Example: /articles?per_page=100&page=3)\n- For every index request you can filter using the attributes. You can search and combine in array or non array syntax. Non array syntax also supports sql-like placeholders (Examples: /articles?manufacturer=Bosch% or /articles?manufacturer[]=Bosch&manufacturer[]=Makita)\n- See the post or put request to see all possible attributes, because those are mostly not documented in index request\n- For every index request, you can also filter relations. If you want all articles, which are part of assignment id 50, you can use for example /articles?assignments=50 or /articles?assignments[]=50&assignments[]=51 for multiple). A '500' is returned if the relation does not exist.\n- For every index request, you can also count relations. If you to know, how how articles are assigned to a worksheet, you can use for example /assignments?count=articles or /assignments?count[]=articles&count[]=employees.\n- For every index request you can filter by the related model's property, the related model and the property must be devided by a hyphen sign (Example: /projects?customer-customer_number=123)\n- Last but not least you can use a 'with' parameter and load relations. (Example: /articles/?with=assignments or /articles/?with[]=assignments , also loads worksheets [technically: assignments]). A '500' is returned if the relation does not exist.\n\n## Get / Show Requests\n\n- For every model you can also show a specific id. (Example: /articles/50)\n- If the model does not exist, you receive a '404' error code.\n\n## Post / Put Requests\n\n- Creating / Updating models happens using the POST or PUT method.\n- POST creates a new model and returns the resulting model.\n- PUT updates a specific model and returns a '404' if the model does not exist.\n- If validation fails a '422' error code is returned.\n\n## Delete Requests\n\n- You can delete a model using the DELETE method.\n- A '404' error is returned if the model does not exist.\n",
        "version": "1.1.0"
    },
    "servers": [
        {
            "url": "https://api.craftboxx.de/"
        }
    ],
    "paths": {
        "/plan-it/absences/recurring-rules": {
            "get": {
                "tags": [
                    "Absence recurring rules"
                ],
                "summary": "Returns absence recurring rules ",
                "operationId": "81e63e659c38de4b6eaec9097325f689",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order column",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction. asc or desc possible",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "with[]",
                        "in": "query",
                        "description": "You can load relations using the with parameter. Example for assignments/worksehets:  with[]=documents loads all related documents and adds it to the response.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Absence recurring rules"
                ],
                "summary": "Create a absence recurring rule",
                "operationId": "5063bf7dc81190bf964b9b3a374009a7",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "StoreAbsenceRecurringRuleRequest",
                                "required": [
                                    "template_id",
                                    "start",
                                    "interval"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateAbsenceRecurringRuleRequest",
                                        "properties": {
                                            "end": {
                                                "title": "end",
                                                "description": "The end of the recurring rule",
                                                "type": "string"
                                            },
                                            "template_id": {
                                                "title": "template_id",
                                                "description": "The template for creating new worksheets of the recurring rule",
                                                "type": "integer"
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The recurring rule source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The recurring rule source_external_id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "template_id": {
                                                "title": "template_id",
                                                "description": "The template for creating new worksheet recurring rule",
                                                "type": "integer"
                                            },
                                            "end": {
                                                "title": "end",
                                                "description": "The end of the recurring rule",
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/plan-it/absences/recurring-rules/{recurringRuleId}": {
            "get": {
                "tags": [
                    "Absence recurring rules"
                ],
                "summary": "Returns a specific absence recurring rule",
                "operationId": "6b39f271e10e6f140a7a0269c42bce15",
                "parameters": [
                    {
                        "name": "recurringRuleId",
                        "in": "path",
                        "description": "RecurringRule id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Recurring rule not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Absence recurring rules"
                ],
                "summary": "Updates a absence recurring rule ",
                "operationId": "9d4c85092d74f89af98ed27b11b2140d",
                "parameters": [
                    {
                        "name": "recurringRuleId",
                        "in": "path",
                        "description": "Recurring Rule id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "UpdateAbsenceRecurringRuleRequest",
                                "properties": {
                                    "end": {
                                        "title": "end",
                                        "description": "The end of the recurring rule",
                                        "type": "string"
                                    },
                                    "template_id": {
                                        "title": "template_id",
                                        "description": "The template for creating new worksheets of the recurring rule",
                                        "type": "integer"
                                    },
                                    "source": {
                                        "title": "source",
                                        "description": "The recurring rule source",
                                        "type": "string"
                                    },
                                    "source_external_id": {
                                        "title": "source_external_id",
                                        "description": "The recurring rule source_external_id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Recurring rule  not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Absence recurring rules"
                ],
                "summary": "Deletes a absence recurring rule",
                "operationId": "7fde5766e2a0d094e49ae5c18935a9bc",
                "parameters": [
                    {
                        "name": "recurringRuleId",
                        "in": "path",
                        "description": "Recurring rule id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Recurring rule not found"
                    }
                }
            }
        },
        "/plan-it/absences/types": {
            "get": {
                "tags": [
                    "Absence types"
                ],
                "summary": "Returns all available absence types",
                "operationId": "d0a8bc7e9272759f694dc2a6ca4e9932",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order column",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction. asc or desc possible",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "with[]",
                        "in": "query",
                        "description": "You can load relations using the with parameter. Example for assignments/worksehets:  with[]=documents loads all related documents and adds it to the response.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Absence types"
                ],
                "summary": "Add new absence type",
                "operationId": "bc2017ad217fdff413e6c6130c37cdba",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "StoreAbsenceTypeRequest",
                                "required": [
                                    "name",
                                    "color"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateAbsenceTypeRequest",
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "The name of the absence type",
                                                "type": "string"
                                            },
                                            "color": {
                                                "title": "color",
                                                "description": "The color of the absence type. Use #FFEEFF Hex format",
                                                "type": "string"
                                            },
                                            "group": {
                                                "title": "group",
                                                "description": "The group of the absence type. Values: holiday, sick, null",
                                                "type": "string"
                                            },
                                            "custom_icon_id": {
                                                "title": "custom_icon_id",
                                                "description": "The icon id",
                                                "type": "string"
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The type source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The type source_external_id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "The name of the absence type",
                                                "type": "string"
                                            },
                                            "color": {
                                                "title": "color",
                                                "description": "The color of the absence type. Use #FFEEFF Hex format",
                                                "type": "string"
                                            },
                                            "group": {
                                                "title": "group",
                                                "description": "The group of the absence type. Values: holiday, sick, null",
                                                "type": "string"
                                            },
                                            "custom_icon_id": {
                                                "title": "custom_icon_id",
                                                "description": "The icon id",
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/plan-it/absences/types/{typeId}": {
            "get": {
                "tags": [
                    "Absence types"
                ],
                "summary": "Returns specific absence type",
                "operationId": "ebf5a5f676502b3a6ebd3d3fe927ec44",
                "parameters": [
                    {
                        "name": "typeId",
                        "in": "path",
                        "description": "Type id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Type not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Absence types"
                ],
                "summary": "Updates a specific absence type",
                "operationId": "343c10c809afa1c90af93499591ab2b9",
                "parameters": [
                    {
                        "name": "typeId",
                        "in": "path",
                        "description": "Tag id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "UpdateAbsenceTypeRequest",
                                "properties": {
                                    "name": {
                                        "title": "name",
                                        "description": "The name of the absence type",
                                        "type": "string"
                                    },
                                    "color": {
                                        "title": "color",
                                        "description": "The color of the absence type. Use #FFEEFF Hex format",
                                        "type": "string"
                                    },
                                    "group": {
                                        "title": "group",
                                        "description": "The group of the absence type. Values: holiday, sick, null",
                                        "type": "string"
                                    },
                                    "custom_icon_id": {
                                        "title": "custom_icon_id",
                                        "description": "The icon id",
                                        "type": "string"
                                    },
                                    "source": {
                                        "title": "source",
                                        "description": "The type source",
                                        "type": "string"
                                    },
                                    "source_external_id": {
                                        "title": "source_external_id",
                                        "description": "The type source_external_id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Absence type not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Absence types"
                ],
                "summary": "Remove absence type",
                "operationId": "46b9f0be6fd2104533d64ad2a07cd82b",
                "parameters": [
                    {
                        "name": "typeId",
                        "in": "path",
                        "description": "Absence type id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not found"
                    },
                    "500": {
                        "description": "Internal error"
                    }
                }
            }
        },
        "/plan-it/absences": {
            "get": {
                "tags": [
                    "Absences"
                ],
                "summary": "Returns absences",
                "operationId": "80cb58623fa2e1d730a407ed70db4c1e",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The start date of the range",
                        "name": "start",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "description": "The end date of the range",
                        "name": "end",
                        "in": "query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "employees[]",
                        "in": "query",
                        "description": "Employees Ids. Multiple input with employees[]=3&employees[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "types[]",
                        "in": "query",
                        "description": "Absence types ids. Multiple input with types[]=3&types[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Absences"
                ],
                "summary": "Add absence",
                "operationId": "86e918b0ba743a0be18c8200a68d026c",
                "requestBody": {
                    "description": "StoreAbsenceRequest",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "StoreAbsenceRequest",
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateAbsenceRequest",
                                        "type": "object",
                                        "allOf": [
                                            {
                                                "title": "SchedulableRequest",
                                                "required": [
                                                    "start",
                                                    "end"
                                                ],
                                                "properties": {
                                                    "start": {
                                                        "title": "start",
                                                        "description": "Start date",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "end": {
                                                        "title": "end",
                                                        "description": "End date",
                                                        "type": "string",
                                                        "format": "date-time"
                                                    },
                                                    "all_day": {
                                                        "title": "all_day",
                                                        "description": "Is it allday or not?",
                                                        "type": "boolean"
                                                    }
                                                },
                                                "type": "object"
                                            },
                                            {
                                                "properties": {
                                                    "type": {
                                                        "title": "type",
                                                        "description": "Absence type id",
                                                        "type": "integer"
                                                    },
                                                    "employees": {
                                                        "title": "employees",
                                                        "description": "Employees ids",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        },
                                                        "example": [
                                                            1,
                                                            2,
                                                            3
                                                        ]
                                                    },
                                                    "users": {
                                                        "title": "users",
                                                        "description": "Users ids",
                                                        "type": "array",
                                                        "items": {
                                                            "type": "integer"
                                                        },
                                                        "example": [
                                                            1,
                                                            2,
                                                            3
                                                        ]
                                                    },
                                                    "source": {
                                                        "title": "source",
                                                        "description": "The absence source",
                                                        "type": "string"
                                                    },
                                                    "source_external_id": {
                                                        "title": "source_external_id",
                                                        "description": "The absence source_external_id",
                                                        "type": "string"
                                                    }
                                                }
                                            }
                                        ]
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/plan-it/absences/{absenceId}": {
            "get": {
                "tags": [
                    "Absences"
                ],
                "summary": "Returns specific absence",
                "operationId": "20c82566a403866252ae46d699167812",
                "parameters": [
                    {
                        "name": "absenceId",
                        "in": "path",
                        "description": "Absence id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Absence not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Absences"
                ],
                "summary": "Update absence",
                "operationId": "71d5e2ca61cfc8543f69fbf4cd62e36f",
                "parameters": [
                    {
                        "name": "absenceId",
                        "in": "path",
                        "description": "Absence id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "UpdateAbsenceRequest",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "UpdateAbsenceRequest",
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "SchedulableRequest",
                                        "required": [
                                            "start",
                                            "end"
                                        ],
                                        "properties": {
                                            "start": {
                                                "title": "start",
                                                "description": "Start date",
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "end": {
                                                "title": "end",
                                                "description": "End date",
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "all_day": {
                                                "title": "all_day",
                                                "description": "Is it allday or not?",
                                                "type": "boolean"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "type": {
                                                "title": "type",
                                                "description": "Absence type id",
                                                "type": "integer"
                                            },
                                            "employees": {
                                                "title": "employees",
                                                "description": "Employees ids",
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "example": [
                                                    1,
                                                    2,
                                                    3
                                                ]
                                            },
                                            "users": {
                                                "title": "users",
                                                "description": "Users ids",
                                                "type": "array",
                                                "items": {
                                                    "type": "integer"
                                                },
                                                "example": [
                                                    1,
                                                    2,
                                                    3
                                                ]
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The absence source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The absence source_external_id",
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Absence not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Absences"
                ],
                "summary": "Remove absence",
                "operationId": "296bcff6e5318292268c09f819fc3639",
                "parameters": [
                    {
                        "name": "absenceId",
                        "in": "path",
                        "description": "Absence id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Absence not found"
                    }
                }
            }
        },
        "/plan-it/articles/groups": {
            "get": {
                "tags": [
                    "Article groups"
                ],
                "summary": "Returns articles groups",
                "operationId": "735e10ef129601e408ef235aa37fb297",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order column",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction. asc or desc possible",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "with[]",
                        "in": "query",
                        "description": "You can load relations using the with parameter. Example for assignments/worksehets:  with[]=documents loads all related documents and adds it to the response.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Article groups"
                ],
                "summary": "Add new article group",
                "operationId": "e42659e0d49388b15e3b70af01a7df72",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "StoreArticleGroupRequest",
                                "required": [
                                    "name",
                                    "color"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateArticleGroupRequest",
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "Article Group Name",
                                                "type": "string"
                                            },
                                            "color": {
                                                "title": "color",
                                                "description": "Group color",
                                                "type": "string"
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The group source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The group source_external_id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "Article Group Name",
                                                "type": "string"
                                            },
                                            "color": {
                                                "title": "color",
                                                "description": "Group color",
                                                "type": "string"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "Success"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/plan-it/articles/groups/{groupId}": {
            "get": {
                "tags": [
                    "Article groups"
                ],
                "summary": "Returns specific article group",
                "operationId": "9185dc9b906bb3d82315b61f76336052",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "Article group id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Article group not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Article groups"
                ],
                "summary": "Update article group",
                "operationId": "cb71b1e39e091827fc7f0499cd994e97",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "Group id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "UpdateArticleGroupRequest",
                                "properties": {
                                    "name": {
                                        "title": "name",
                                        "description": "Article Group Name",
                                        "type": "string"
                                    },
                                    "color": {
                                        "title": "color",
                                        "description": "Group color",
                                        "type": "string"
                                    },
                                    "source": {
                                        "title": "source",
                                        "description": "The group source",
                                        "type": "string"
                                    },
                                    "source_external_id": {
                                        "title": "source_external_id",
                                        "description": "The group source_external_id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Article group not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Article groups"
                ],
                "summary": "Remove article group",
                "operationId": "42214b89e50c8f25a6d476d0383fab10",
                "parameters": [
                    {
                        "name": "groupId",
                        "in": "path",
                        "description": "Article group id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            }
        },
        "/plan-it/articles": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Returns articles",
                "operationId": "e8bf3f3e9cc1f6bf6c4efa5100ac611a",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order column",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction. asc or desc possible",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "with[]",
                        "in": "query",
                        "description": "You can load relations using the with parameter. Example for assignments/worksehets:  with[]=documents loads all related documents and adds it to the response.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Articles"
                ],
                "summary": "Add article",
                "operationId": "6cdbb0970ae4d9b49a83ed99e69d6fff",
                "requestBody": {
                    "description": "StoreArticleRequest",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "StoreArticleRequest",
                                "required": [
                                    "name"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateArticleRequest",
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "Article name",
                                                "type": "string"
                                            },
                                            "manufacturer": {
                                                "title": "manufacturer",
                                                "description": "Article manufacturer",
                                                "type": "string"
                                            },
                                            "manufacturer_article_nr": {
                                                "title": "manufacturer_article_nr",
                                                "description": "Article manufacturer number",
                                                "type": "string"
                                            },
                                            "ean": {
                                                "title": "ean",
                                                "description": "Article EAN",
                                                "type": "string"
                                            },
                                            "supplier_article_nr": {
                                                "title": "supplier_article_nr",
                                                "description": "Supplier article number",
                                                "type": "string"
                                            },
                                            "unit_price": {
                                                "title": "unit_price",
                                                "description": "Price",
                                                "type": "number",
                                                "format": "float",
                                                "example": 2.5
                                            },
                                            "currency": {
                                                "title": "currency",
                                                "description": "Currency",
                                                "type": "string",
                                                "enum": [
                                                    [
                                                        "€",
                                                        "$"
                                                    ]
                                                ]
                                            },
                                            "unit": {
                                                "title": "unit",
                                                "description": "Unit",
                                                "type": "string",
                                                "enum": [
                                                    [
                                                        "PIECE",
                                                        "KILOGRAMS",
                                                        "METRES",
                                                        "BUNCH",
                                                        "BOTTLE",
                                                        "BOX",
                                                        "BAG",
                                                        "FLAT_FEE",
                                                        "CANE",
                                                        "DOZEN",
                                                        "BUCKET",
                                                        "TRIMMING",
                                                        "SET",
                                                        "CANISTER",
                                                        "CARDBOARD",
                                                        "LITRE",
                                                        "SQUAREMETER",
                                                        "PAIR",
                                                        "PACK",
                                                        "PARCEL",
                                                        "PANEL",
                                                        "ROLL",
                                                        "SAC",
                                                        "BAR",
                                                        "TUBE",
                                                        "HOURS",
                                                        "TONS",
                                                        "CUBIC_METRE"
                                                    ]
                                                ]
                                            },
                                            "price_date": {
                                                "title": "price_date",
                                                "description": "From(price date)",
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "article_url": {
                                                "title": "article_url",
                                                "description": "Article url",
                                                "type": "string"
                                            },
                                            "info": {
                                                "title": "info",
                                                "description": "Description",
                                                "type": "string"
                                            },
                                            "dangerous_material": {
                                                "title": "dangerous_material",
                                                "description": "Is it dangerous material?",
                                                "type": "boolean"
                                            },
                                            "group_id": {
                                                "title": "group_id",
                                                "description": "Group id",
                                                "type": "integer"
                                            },
                                            "used": {
                                                "title": "used",
                                                "description": "Amount of used material",
                                                "type": "number",
                                                "format": "float",
                                                "example": 0.5
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The article source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The article source_external_id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "name": {
                                                "title": "name",
                                                "description": "Article name",
                                                "type": "string"
                                            },
                                            "manufacturer": {
                                                "title": "manufacturer",
                                                "description": "Article manufacturer",
                                                "type": "string"
                                            },
                                            "manufacturer_article_nr": {
                                                "title": "manufacturer_article_nr",
                                                "description": "Article manufacturer number",
                                                "type": "string"
                                            },
                                            "ean": {
                                                "title": "ean",
                                                "description": "Article EAN",
                                                "type": "string"
                                            },
                                            "supplier_article_nr": {
                                                "title": "supplier_article_nr",
                                                "description": "Supplier article number",
                                                "type": "string"
                                            },
                                            "unit_price": {
                                                "title": "unit_price",
                                                "description": "Price",
                                                "type": "number",
                                                "format": "float"
                                            },
                                            "currency": {
                                                "title": "currency",
                                                "description": "Currency",
                                                "type": "string",
                                                "enum": [
                                                    [
                                                        "€",
                                                        "$"
                                                    ]
                                                ]
                                            },
                                            "unit": {
                                                "title": "unit",
                                                "description": "Unit",
                                                "type": "string",
                                                "enum": [
                                                    [
                                                        "PIECE",
                                                        "KILOGRAMS",
                                                        "METRES",
                                                        "BUNCH",
                                                        "BOTTLE",
                                                        "BOX",
                                                        "BAG",
                                                        "FLAT_FEE",
                                                        "CANE",
                                                        "DOZEN",
                                                        "BUCKET",
                                                        "TRIMMING",
                                                        "SET",
                                                        "CANISTER",
                                                        "CARDBOARD",
                                                        "LITRE",
                                                        "SQUAREMETER",
                                                        "PAIR",
                                                        "PACK",
                                                        "PARCEL",
                                                        "PANEL",
                                                        "ROLL",
                                                        "SAC",
                                                        "BAR",
                                                        "TUBE",
                                                        "HOURS",
                                                        "TONS",
                                                        "CUBIC_METRE"
                                                    ]
                                                ]
                                            },
                                            "price_date": {
                                                "title": "price_date",
                                                "description": "From(price date)",
                                                "type": "string",
                                                "format": "date-time"
                                            },
                                            "article_url": {
                                                "title": "article_url",
                                                "description": "Article url",
                                                "type": "string"
                                            },
                                            "info": {
                                                "title": "info",
                                                "description": "Description",
                                                "type": "string"
                                            },
                                            "dangerous_material": {
                                                "title": "dangerous_material",
                                                "description": "Is it dangerous material?",
                                                "type": "boolean"
                                            },
                                            "group_id": {
                                                "title": "group_id",
                                                "description": "Group id",
                                                "type": "integer"
                                            },
                                            "used": {
                                                "title": "used",
                                                "description": "Amount of used material",
                                                "type": "number",
                                                "format": "float"
                                            }
                                        }
                                    }
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            }
        },
        "/plan-it/articles/{articleId}": {
            "get": {
                "tags": [
                    "Articles"
                ],
                "summary": "Returns specific article",
                "operationId": "61f64e50a86d3f0690cfb7a9b1e4fec1",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Article not found"
                    }
                }
            },
            "put": {
                "tags": [
                    "Articles"
                ],
                "summary": "Update article",
                "operationId": "ab374c8aa5bf61fac8a92d3ff5fe6e29",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "description": "UpdateArticleRequest",
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "title": "UpdateArticleRequest",
                                "properties": {
                                    "name": {
                                        "title": "name",
                                        "description": "Article name",
                                        "type": "string"
                                    },
                                    "manufacturer": {
                                        "title": "manufacturer",
                                        "description": "Article manufacturer",
                                        "type": "string"
                                    },
                                    "manufacturer_article_nr": {
                                        "title": "manufacturer_article_nr",
                                        "description": "Article manufacturer number",
                                        "type": "string"
                                    },
                                    "ean": {
                                        "title": "ean",
                                        "description": "Article EAN",
                                        "type": "string"
                                    },
                                    "supplier_article_nr": {
                                        "title": "supplier_article_nr",
                                        "description": "Supplier article number",
                                        "type": "string"
                                    },
                                    "unit_price": {
                                        "title": "unit_price",
                                        "description": "Price",
                                        "type": "number",
                                        "format": "float",
                                        "example": 2.5
                                    },
                                    "currency": {
                                        "title": "currency",
                                        "description": "Currency",
                                        "type": "string",
                                        "enum": [
                                            [
                                                "€",
                                                "$"
                                            ]
                                        ]
                                    },
                                    "unit": {
                                        "title": "unit",
                                        "description": "Unit",
                                        "type": "string",
                                        "enum": [
                                            [
                                                "PIECE",
                                                "KILOGRAMS",
                                                "METRES",
                                                "BUNCH",
                                                "BOTTLE",
                                                "BOX",
                                                "BAG",
                                                "FLAT_FEE",
                                                "CANE",
                                                "DOZEN",
                                                "BUCKET",
                                                "TRIMMING",
                                                "SET",
                                                "CANISTER",
                                                "CARDBOARD",
                                                "LITRE",
                                                "SQUAREMETER",
                                                "PAIR",
                                                "PACK",
                                                "PARCEL",
                                                "PANEL",
                                                "ROLL",
                                                "SAC",
                                                "BAR",
                                                "TUBE",
                                                "HOURS",
                                                "TONS",
                                                "CUBIC_METRE"
                                            ]
                                        ]
                                    },
                                    "price_date": {
                                        "title": "price_date",
                                        "description": "From(price date)",
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "article_url": {
                                        "title": "article_url",
                                        "description": "Article url",
                                        "type": "string"
                                    },
                                    "info": {
                                        "title": "info",
                                        "description": "Description",
                                        "type": "string"
                                    },
                                    "dangerous_material": {
                                        "title": "dangerous_material",
                                        "description": "Is it dangerous material?",
                                        "type": "boolean"
                                    },
                                    "group_id": {
                                        "title": "group_id",
                                        "description": "Group id",
                                        "type": "integer"
                                    },
                                    "used": {
                                        "title": "used",
                                        "description": "Amount of used material",
                                        "type": "number",
                                        "format": "float",
                                        "example": 0.5
                                    },
                                    "source": {
                                        "title": "source",
                                        "description": "The article source",
                                        "type": "string"
                                    },
                                    "source_external_id": {
                                        "title": "source_external_id",
                                        "description": "The article source_external_id",
                                        "type": "string"
                                    }
                                },
                                "type": "object"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Article not found"
                    },
                    "422": {
                        "description": "Validation failed"
                    }
                }
            },
            "delete": {
                "tags": [
                    "Articles"
                ],
                "summary": "Remove article",
                "operationId": "ed45224d731e51679f686976a7d91cb5",
                "parameters": [
                    {
                        "name": "articleId",
                        "in": "path",
                        "description": "Article id",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    },
                    "404": {
                        "description": "Article not found"
                    }
                }
            }
        },
        "/plan-it/assignments/recurring-rules": {
            "get": {
                "tags": [
                    "Worksheet recurring rules"
                ],
                "summary": "Returns worksheet recurring rules",
                "operationId": "f5679dd66dd627d197d5e4b86c9636bd",
                "parameters": [
                    {
                        "name": "q",
                        "in": "query",
                        "description": "Search query",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_by",
                        "in": "query",
                        "description": "Order column",
                        "required": false,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "order_direction",
                        "in": "query",
                        "description": "Order direction. asc or desc possible",
                        "required": false,
                        "schema": {
                            "type": "string",
                            "default": "asc",
                            "enum": [
                                "asc",
                                "desc"
                            ]
                        }
                    },
                    {
                        "name": "id[]",
                        "in": "query",
                        "description": "Filters by ids. Multiple input with ids[]=3&ids[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "exclude[]",
                        "in": "query",
                        "description": "Exclude ids. Multiple input with exclude[]=3&exclude[]=6",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "integer"
                            }
                        }
                    },
                    {
                        "name": "perPage",
                        "in": "query",
                        "description": "Number of items per Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "Result Page",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "integer",
                            "default": 1
                        }
                    },
                    {
                        "name": "with[]",
                        "in": "query",
                        "description": "You can load relations using the with parameter. Example for assignments/worksehets:  with[]=documents loads all related documents and adds it to the response.",
                        "required": false,
                        "explode": true,
                        "schema": {
                            "type": "array",
                            "items": {
                                "type": "string"
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Success"
                    }
                }
            },
            "post": {
                "tags": [
                    "Worksheet recurring rules"
                ],
                "summary": "Create a worksheet recurring rule",
                "operationId": "1a16f4996254cf49126cc3ab5e404222",
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "title": "StoreAssignmentRecurringRuleRequest",
                                "required": [
                                    "template_id",
                                    "start",
                                    "interval"
                                ],
                                "type": "object",
                                "allOf": [
                                    {
                                        "title": "UpdateAssignmentRecurringRuleRequest",
                                        "properties": {
                                            "end": {
                                                "title": "end",
                                                "description": "The end of the recurring rule",
                                                "type": "string"
                                            },
                                            "template_id": {
                                                "title": "template_id",
                                                "description": "The template for creating new worksheet for the recurring rule",
                                                "type": "integer"
                                            },
                                            "source": {
                                                "title": "source",
                                                "description": "The recurring rule source",
                                                "type": "string"
                                            },
                                            "source_external_id": {
                                                "title": "source_external_id",
                                                "description": "The recurring rule source_external_id",
                                                "type": "string"
                                            }
                                        },
                                        "type": "object"
                                    },
                                    {
                                        "properties": {
                                            "template_id": {
                                                "title": "template_id",
                                                "description": "The template for creating new worksheet for the recurring rule",
                                                "type": "integer"
                                            },
                                            "end": {
                                                "title": "end",
                                                "description": "The end of the recurring rule",
[...]
